body {
  overflow: hidden;
  font-family: sans-serif;
}

.iphone {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 400px;
}

.iphone img {
  width: 100%;
}

.menu--overlay {
  display: none;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #0F1936;
  opacity: 0.75;
  position: fixed;
  width: 350px;
  height: 620px;
}

.container {
  width: 350px;
  position: relative;
  height: 620px;
  overflow-y: scroll;
  top: 100px;
  left: 27px;
}

.container img {
  position: absolute;
}

.backgroundImage {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.container .menuicon {
  position: fixed;
  top: 547px;
  left: 304px;
  width: 82px;
}

.container .lumi-container {
  position: absolute;
  left: 26px;
}

.container .lumi-menu {
  position: fixed;
  top: 618px;
  left: 270px;
  width: auto;
  z-index: 10;
}

.container .lumi-menu > * {
  position: absolute;
  top: 0;
  left: 0;
}

.container .lumi-happy svg,
.container .lumi-container svg {
  width: 300px!important;
  height: 300px!important;
}

.lumi-menu .main-icon > img {
  width: 112px;
}

.lumi-menu .lumi-happy svg {
  width: 82px!important;
  height: 82px!important;
}

.lumi-menu .lumi-crying svg {
  width: 87px!important;
  height: 87px!important;
}

.lumi-menu .main-icon {
  cursor: pointer;
}

.lumi-menu .lumi-happy,
.lumi-menu .lumi-crying {
  position: absolute;
  top: 4px;
  left: 12px;
}

.lumi-menu .secondary-icons {
  position: relative;
  display: none;
}

.lumi-menu .menu-icon--graph,
.lumi-menu .menu-icon--settings,
.lumi-menu .menu-icon--color-pick,
.lumi-menu .menu-icon--lamp {
  position: absolute;
}

.lumi-menu .menu-icon--graph {
  top: -49px;
  left: 45px;
}

.lumi-menu .menu-icon--settings {
  top: -46px;
  left: -12px;
}

.lumi-menu .menu-icon--color-pick {
  top: 30px;
  left: -63px;
}

.lumi-menu .menu-icon--lamp {
  top: -3px;
  left: -50px;
  cursor: pointer;
}



.lumi-container .lumi-happy,
.lumi-menu .lumi-happy {
  display: block;
}

.lumi-container .lumi-crying,
.lumi-menu .lumi-crying {
  display: none;
}



/***********************
HOME
***********************/

.container.home .btn--edit {
  top: 450px;
  left: 55px;
}

.container.home .status-label {
  top: 360px;
  left: 148px;
}

.lumi-container #lumi-glow,
.lumi-container #lumi--body-color,
.lumi-container #lumi-eyes,
.lumi-container #lumi-glowing-layer,
.lumi-container #lumi-body-color,
.lumi-container #lumi--eyes,
.lumi-container #brow--left,
.lumi-container #brow--right,
.lumi-container #lumi-mouth,
.lumi-container #tears-group {
  /*fill: #6CA8FC;*/
  /*fill: #FF0000;*/
  /*fill: #CFFFBF;*/
}

.colour-picker .lumi-container #lumi-glow,
.colour-picker .lumi-container #lumi--body-color,
.colour-picker .lumi-container #lumi-eyes,
.colour-picker .lumi-container #lumi-glowing-layer,
.colour-picker .lumi-container #lumi-body-color,
.colour-picker .lumi-container #lumi--eyes,
.colour-picker .lumi-container #brow--left,
.colour-picker .lumi-container #brow--right,
.colour-picker .lumi-container #lumi-mouth,
.colour-picker .lumi-container #tears-group {
  /*fill: #6CA8FC;*/
  /*fill: #FFFFFF;*/
  /*fill: #CFFFBF;*/
}




/***********************
CRYING
***********************/

.container.crying .btn--cta {
  top: 410px;
  left: 36px;
}




/***********************
SETTINGS
***********************/

.container.settings .toggle1 {
  cursor: pointer;
  top: 225px;
  left: 0px;
}

.container.settings .toggle2 {
  cursor: pointer;
  top: 478px;
  left: 23px;
}

.container.settings .toggle2.on {
  top: 460px;
}

.container.settings .toggle3 {
  cursor: pointer;
  top: 760px;
  left: 0px;
}

.container.settings .lumi--purple {
  top: 550px;
  left: 20px;
}

.container.settings .lumi--salmon {
  top: 820px;
  left: 20px;
}







/***********************
COLOUR-RECENT
***********************/

.container.colour-recent .icon--arrow {
  top: 21px;
  left: 21px;
}

.container.colour-recent .btn--picker {
  top: 340px;
  left: 220px;
}

.container.colour-recent .btn--primary {
  top: 536px;
  left: 81px;
  width: 217px;
}




/***********************
COLOUR-PICKER
***********************/

.container.colour-picker .icon--arrow {
  top: 21px;
  left: 21px;
}

.container.colour-picker .btn--recent {
  top: 340px;
  left: 60px;
}

.container.colour-picker .btn--primary {
  top: 840px;
  left: 55px;
}



#ColorInput {
  position: absolute;
  top: 488px;
}

.jQWCP-wVal.jQWCP-slider-wrapper,
.jQWCP-wPreview {
  display: none!important;
}

.jQWCP-wWidget,
.jQWCP-wWidget.jQWCP-block {
  border: 0!important;
  box-shadow: 0 0 0 0!important;
  background: transparent!important;
}

.jQWCP-wWidget {
}

.jQWCP-wWidget.jQWCP-block {
  position: absolute;
  top: 430px;
  left: 15px;
  width: auto!important;
  margin: 0 auto!important;
  padding: 0!important;
  z-index: 0;
}

.jQWCP-wWidget:focus {
  outline: none;
}

.jQWCP-wWheel {
  position: inherit;
  float: none;
  border: 0;
  margin: 0;
  left: 72px;
}

.jQWCP-wWheelCursor {
  width: 30px;
  height: 30px;
  margin: -23px -23px;
  border: solid 4px #fff;
  background: #fff;
}


.range-slider {
 width: 50%;
 margin: 0 auto;
 position: absolute;
 top: 660px;
 left: 85px
}

.slider-value {
 display: block;
 color: white;
 width: 100%;
 text-align: center;
 margin: 20px auto;
}

.slider {
 -webkit-appearance: none !important;
 /*Needed to reset default slider styles */
 width: 100%;
 height: 15px;
 background-color: #346382;
 border-radius: 10px;
 margin: auto;
 transition: all 0.3s ease;
}

.slider:hover {
 opacity: 0.9;
}

.slider::-webkit-slider-thumb {
 -webkit-appearance: none !important;
 width: 30px;
 height: 30px;
 background-color: #6BC5FF;
 border-radius: 30px;
 border: 2px solid rgba(0, 0, 0, 0.2);
 -webkit-box-shadow: 0px 0px 13px -1px rgba(255, 255, 255, 1);
 -moz-box-shadow: 0px 0px 13px -1px rgba(255, 255, 255, 1);
 box-shadow: 0px 0px 13px -1px rgba(255, 255, 255, 1);
 transition: all 0.5s ease;
}

.slider::-webkit-slider-thumb:hover {
 background-color: #6BC5FF;
}

.slider::-webkit-slider-thumb:active {
 box-shadow: 0px 0px 1px #6BC5FF;
}

.slider:focus {
 outline: none;
}

.slider {
 background-image: linear-gradient( to right, rgba(91, 171, 222, 0.73), rgba(91, 171, 222, 0.75) 50%, rgba(91, 171, 222, 0.25) 50%);
}
